body {
    background-color: black;
    color: white;
    font-family: 'Raleway', Arial;

}

h1 {
    text-align: center;

}

p {
    text-align: left;
}

.bg-header {
    width: 100%;
}

.iguana-text {
    
    width: 40%;
    letter-spacing: 0;
    padding: 50px 50px 50px 100px;
    font-size: 16px;
}

.iguana-pic {
    height: 237px;
    width: 399px;
    float: right;
    vertical-align: middle;
    padding-top: 25px;
    padding-right: 180px

}

.iguana-text, .iguana-pic {
    display: inline-block;

}

.caracteristicas {
    background-color: #1E1A13;
}

h2 {
    display: inline-block;
    font-weight: 300;
    padding-left: 120px;
    font-size: 25px;
}

h1 {
    font-weight: 400;
    padding-top: 50px;
}

.tres-car {
    text-align:center;
    padding: 75px;
    padding-right: 100px;
}

.iguanapics {
    display: inline-block;
    height: 202px;
    width: 316px;
    margin: auto;
}

footer {
    text-align: center;
    padding: 51px 0px;
}

.centrado {
    text-align: center;
}

#iguana-margin {
    margin: 0px 16px;
}

.iguanapics {
    padding: 73px 0px;
}

.h1-ig {
    font-size: 50px;
    font-weight: 500;
}

.h1-car {
    font-size: 40px;
    font-weight: 500;   
}

footer {
    font-weight: 300;
    font-size: 20px;
}